@use "../abstracts/mixins" as m;

// * Contact modal container
#contactModal {
	width: min(40rem, 100%);
	margin: 2rem auto;
	border: none;
	border-radius: 0.5rem;

	background-color: var(--accent-color);

	&::backdrop {
		background-color: rgba(50, 50, 50, 0.4);
	}
}

// * Contact form
.contact-modal {
	@include m.flexbox(column, 1rem);
	position: relative;

	padding: 2rem;

	&__close-icon {
		position: absolute;
		inset: 1rem 1rem auto auto;

		border: none;

		background-color: transparent;

		cursor: pointer;
		transition: all 0.2s ease-in-out;

		&:hover,
		&:focus {
			transform: scale(1.2);
		}
	}

	&__text-input-container {
		@include m.flexbox(column);
	}

	&__text-input {
		padding-inline: 0.5rem;
		border: none;
		border-radius: 0.25rem;
	}

	&__button {
		align-self: start;

		padding-inline: 3.125rem;
	}
}

#firstname-incorrect-input,
#lastname-incorrect-input,
#email-incorrect-input,
#message-incorrect-input {
	display: none;

	align-self: center;
}
