@use "../abstracts/mixins" as m;

// * Image modal container
#mediaModal {
	margin: 2rem auto;
	border: none;
	border-radius: 0.5rem;

	@include m.standardBoxShadow();

	&::backdrop {
		background-color: rgba(50, 50, 50, 0.4);
	}
}

.media-modal {
	@include m.flexbox(column, 1rem, nowrap, center, center);
	position: relative;

	width: 80vw;
	max-height: 90vh;
	padding: 0.5rem 0.5rem 1rem;

	&__image,
	&__video {
		display: none;

		min-height: 0;
		max-width: 100%;
		border-radius: 0.5rem;

		@include m.standardBoxShadow();
	}

	&__video {
		width: 100%;
	}

	&__close-icon,
	&__previous-icon,
	&__next-icon {
		position: absolute;

		border: none;
		background-color: rgba(255, 255, 255, 0.9);
		padding: 0 0.4rem;
		border-radius: 0.25rem;
		backdrop-filter: blur(10px);

		cursor: pointer;
		transition: all 0.2s ease-in-out;

		&:hover,
		&:focus {
			transform: scale(1.2);
		}
	}

	&__close-icon {
		inset: 1rem 1rem auto auto;
	}

	&__previous-icon {
		inset: 50% auto auto 1rem;
	}

	&__next-icon {
		inset: 50% 1rem auto auto;
	}
}
