@use "../abstracts/mixins" as m;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	list-style-type: none;
	text-decoration: none;
}

img {
	display: block;
	object-fit: cover;
}

i {
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
}
