@use "../abstracts/mixins" as m;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style-type: none;
    text-decoration: none;
}

body {
    @include m.flexbox(column, 3rem, nowrap, normal, normal);

    max-width: 1440px;
    margin: 0 auto;
}

img {
    object-fit: cover;
}