// * Default font settings
* {
	font-family: "DM Sans", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: var(--custom-black-color);
}

// * Font Color
.header__title,
.photographer-presentation__location,
.photographer-card__location,
.photographer-media__legend-name,
.photographer-media__legend-likes {
	color: var(--primary-color);
}
.photographer-presentation__name,
.photographer-card__name {
	color: var(--secondary-color);
}
.primary-button,
.contact-modal__close-icon,
.photographer-media__order-select,
.photographer-media__order-option {
	color: var(--custom-white-color);
}
.photographer-card__price,
.photographer-presentation__tagline {
	color: var(--custom-grey-color);
}
.contact-modal__text-label {
	color: var(--custom-darkgrey-color);
}

// * Font Size
.contact-modal__title,
.photographer-presentation__name {
	font-size: 4rem;
}
.header__title,
.photographer-card__name,
.contact-modal__text-label,
.contact-modal__text-input,
.contact-modal__close-icon {
	font-size: 2.25rem;
}
.photographer-presentation__location,
.photographer-media__legend-name,
.photographer-media__legend-likes,
.photographer-info-bar__likes,
.photographer-info-bar__price {
	font-size: 1.5rem;
}
.primary-button {
	font-size: 1.25rem;
}
.photographer-presentation__tagline,
.photographer-media__order-name {
	font-size: 1.125rem;
}
.photographer-card__location {
	font-size: 0.875rem;
}
.photographer-card__tagline,
.photographer-card__price {
	font-size: 0.625rem;
}

// * Font Weight
.photographer-media__order-name,
.photographer-media__order-select,
.photographer-media__order-option {
	font-weight: 700;
}
.primary-button,
.photographer-info-bar__likes,
.photographer-info-bar__price {
	font-weight: 600;
}
