$colors : (
    primary: #911C1C,
    secondary: #D3573C,
    accent: #DB8876,

    custom-white: #fafafa,
    custom-black: #0f0f0f,
    custom-grey: #757575,
    custom-darkgrey: #312E2E,

    modal-bg: #0f0f0f50
)
