@use "../abstracts/mixins" as m;

.header {
	@include m.flexbox(row, 1rem, wrap, space-between, center);

	padding-inline: 6.25rem;

	&__redirect {
		border: none;

		background-color: transparent;

		&:hover > .header__logo,
		&:focus > .header__logo {
			filter: brightness(150%);
		}
	}

	&__logo {
		height: 3.125rem;
		width: fit-content;

		cursor: pointer;
		transition: all 0.15s ease-in-out;
	}
}

// Responsive / Media Querries
@media screen and (width < 750px) {
	.header {
		justify-content: center;

		padding-inline: 1rem;

		&__title {
			text-align: center;
		}
	}
}
