@use "../abstracts/mixins" as m;

.header {
    @include m.flexbox(row, 1rem, wrap, space-between, center);

    padding: 0 6.25rem;

    &__logo {
        height: 3.125rem;

        cursor: pointer;
    }
}

@media screen and (width < 750px) {
    .header {
        padding: 0 3rem;
    }    
}