@use "../abstracts/mixins" as m;

.header {
	@include m.flexbox(row, 1rem, wrap, space-between, center);

	padding-inline: 6.25rem;

	&__logo {
		height: 3.125rem;
		width: fit-content;

		cursor: pointer;
	}
}

// ? Responsive / Media Querries
@media screen and (width < 750px) {
	.header {
		padding-inline: 3rem;
	}
}
