@use "../abstracts/_mixins.scss" as m;

// * Homepage with photographers' profiles
.photographers_section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
	gap: 4rem 2rem;

	padding-top: 3.25rem;

	.photographer-card {
		@include m.flexbox(column, 0, nowrap, center, center);

		&__link {
			@include m.flexbox(column, 0, nowrap, start, center);

			margin-bottom: 0.5rem;

			&:hover > .photographer-card__image,
			&:focus > .photographer-card__image {
				filter: brightness(1.1);
			}

			&:hover > .photographer-card__name::before,
			&:focus > .photographer-card__name::before {
				opacity: 1;
				transform: translateY(0);
			}
		}

		&__name {
			position: relative;

			&::before {
				position: absolute;
				inset: auto 0 0 0;
				content: "";

				height: 2px;

				background-color: var(--secondary-color);

				opacity: 0;
				transform: translateY(-0.5rem);
				transition: all 0.2s ease-in-out;
			}
		}

		&__image {
			height: 12.5rem;
			width: 12.5rem;
			border-radius: 50%;

			@include m.standardBoxShadow();
			filter: brightness(0.9);
			transition: all 0.2s ease-in-out;
		}
	}
}

// Responsive
@media screen and (width < 750px) {
	.photographers_section {
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		gap: 3rem 1rem;

		padding-top: 1rem;
	}
}
