@use "../abstracts/mixins" as m;

// * main section layout
.photographer {
	@include m.flexbox(column, 1.25rem);

	padding-inline: 6rem;
}

// * Presentation section about photographer
.photographer-presentation {
	@include m.flexbox(row, 2rem, wrap, space-between, center);

	padding: 3.125rem;
	border-radius: 0.5rem;

	background-color: var(--custom-white-color);

	&__tagline {
		margin-top: 1rem;
	}

	&__image {
		width: 12.5rem;
		height: 12.5rem;
		border-radius: 50%;

		@include m.standardBoxShadow();
	}
}

// * Section with all photographers' media
.photographer-media {
	@include m.flexbox(column, 1rem);

	// ? Ordering button
	&__order {
		@include m.flexbox(row, 1.5rem, wrap);
	}

	&__order-select {
		padding: 1.25rem;
		border-radius: 0.5rem;

		background-color: var(--primary-color);
	}

	// ? Media container
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		gap: 2rem;
	}

	&__media {
		@include m.flexbox(column, 0.5rem, nowrap, normal, start);
	}

	&__legend {
		@include m.flexbox(row, 1rem, wrap, space-between, normal);

		width: 20rem;
		margin-inline: auto;
	}

	&__image {
		width: 20rem;
		height: 20rem;
		margin-inline: auto;
		border-radius: 0.5rem;

		transition: all 0.2s ease-in-out;

		&:hover {
			opacity: 0.7;
		}
	}
}

// * Info bar about photographers' price and likes
.photographer-info-bar {
	@include m.flexbox(row, 3rem, wrap);
	position: fixed;
	inset: auto 3rem 0 auto;

	padding: 1.5rem 2rem 1rem;
	border-radius: 0.5rem 0.5rem 0 0;

	background-color: var(--accent-color);
}

// ? Responsive / Media Querries
@media screen and (width < 750px) {
	.photographer {
		padding: 2rem;
	}

	.photographer-presentation {
		flex-direction: column;
		gap: 2rem;

		padding: 1rem;
	}

	.photographer-media {
		&__container {
			grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
			gap: 2.5rem;
		}

		&__image {
			width: 15rem;
			height: 15rem;
		}
	}
}
