@use "../abstracts/mixins" as m;

// * main section layout
.photographer {
	@include m.flexbox(column, 1.25rem);

	padding-inline: 6rem;
}

// * Presentation section about photographer
.photographer-presentation {
	@include m.flexbox(row, 2rem, wrap, space-between, center);

	padding: 3.125rem;
	border-radius: 0.5rem;

	background-color: var(--custom-white-color);

	&__tagline {
		margin-top: 1rem;
	}

	&__image {
		width: 12.5rem;
		height: 12.5rem;
		border-radius: 50%;

		@include m.standardBoxShadow();
	}
}

// * Section with all photographers' media
.photographer-media {
	@include m.flexbox(column, 1rem);

	// Ordering button
	&__order {
		@include m.flexbox(row, 1.5rem, wrap);
	}

	&__order-select {
		padding: 1.25rem;
		border-radius: 0.5rem;

		background-color: var(--primary-color);

		cursor: pointer;
	}

	// container with all the media
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		gap: 2rem;
	}

	// container for each individual media
	&__media-container {
		@include m.flexbox(column, 0.5rem, nowrap, normal, center);

		width: min(20rem, 100%);
		margin-inline: auto
	}

	&__legend {
		@include m.flexbox(row, 1rem, wrap, space-between, normal);

		width: 100%;
		margin-inline: auto;
	}

	&__image-button-container,
	&__video-button-container {
		border: none;

		background-color: transparent;

		cursor: pointer;
		transition: all 0.2s ease-in-out;

		&:hover,
		&:focus {
			opacity: 0.7;
		}
	}

	&__image,
	&__video {
		margin-inline: auto;
		border-radius: 0.5rem;
	}

	&__legend-likes {
		border: none;
		background-color: transparent;

		user-select: none;
		cursor: pointer;
	}
}

// * Info bar about photographers' price and likes
.photographer-info-bar {
	@include m.flexbox(row, 2rem, wrap, space-between);
	position: fixed;
	inset: auto 3rem 0 auto;

	padding: 1.5rem 2rem 1rem;
	border-radius: 0.5rem 0.5rem 0 0;

	background-color: var(--accent-color);
}

// Responsive / Media Querries
@media screen and (width < 750px) {
	.photographer {
		padding-inline: 1rem;
	}

	.photographer-presentation {
		flex-direction: column;
		gap: 2rem;

		padding: 1rem;
	}

	.photographer-media {
		&__container {
			grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
			gap: 2.5rem;
		}
	}

	.photographer-info-bar {
		inset: auto 0 0 0;
	}
}
